/* Sidebar.css */

/* === Container do Conteúdo Principal === */
.main-content {
  flex-grow: 1;
  padding: 2rem;
  padding-top: calc(1.5rem + 56px);
  min-height: 100vh;
  transition: margin-left 0.3s ease;
  background-color: #e8ebee;
  overflow-x: hidden;
}
